@font-face {
  font-family: 'PixelOperator';
  src: local('PixelOperator'), url('../assets/fonts/PixelOperator.ttf') format('ttf');
}

@font-face {
  font-family: 'PixelOperatorSC';
  src: 
    local('PixelOperatorSC'),
    url('../assets/fonts/PixelOperatorSC.ttf') format('ttf')
    url('../assets/fonts/PixelOperatorSC-Bikd.ttf') format('ttf');
}